.MainFacility__Container{
    background: aliceblue;
    max-width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
     margin: 2%;
    font-size: 1.5rem;
    /* overflow: hidden; */
    padding: 0 20px;
}

#head{
    margin-top: 15px;
    font-size: 1.8rem;
}


.facility__data{
    padding: 2%;
    color: rgb(1, 1, 153);
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    word-wrap: break-word;

}
.facility__data p{
    margin-bottom: 10px;
}

@media screen and (max-width:750px){
    .MainFacility__Container p{
       font-size: 0.8rem;

    }
    .facility__data p{
        margin-top: 10px;
       font-size: 0.8rem;
    }
    .MainFacility__Container{
        font-size: 1rem;
    }
    #head{
        font-size: 1.2rem;
    }
    
}
