@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');




*{
    list-style:none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app__navbar{
    /* width: 90%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:2px solid black;

    /* padding:1rem 1rem; */
}

.Side_Title{
    /* font-family: 'IBM Plex Mono', monospace; */

}

.Main__Navbar{
    position: relative;
    display: flex;
    height:80px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(83 120 253);
    position: sticky;
}

.Main__Navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    font-size: 2rem;
}

.navmain__item{
    /* padding: 10px; */
    list-style: none;
    padding: 10px;
  
}

.navmain__item a{
    color: white;
    display: inline-block;
    /* width: 80px; */
    text-decoration: none;
}

/* .navmain__item:hover{
    background-color: beige;
} */


























/* sideNavbar Mobile  */

.Side__Navbar{
    display: flex;
    height: 80px;
    justify-content: start;
    align-items: center;
    background-color: rgb(83 120 253);

    position: sticky;
    width: 100%;
}


.Side_Title{
    /* text-align: center; */
    position: sticky;
    left: 3%;
    color: white;
    font-size: 2.2rem;
    /* font-style: italic; */
}


.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
}

.nav-menu{
background-color: rgb(1, 49, 65);
width: 250px;
height: 100vh;
display: flex;
justify-content: center;
position: fixed;
top: 0;
transition: 850ms;
transform: translateX(-1000px);
}

.nav-menu.active{
    transform: translateX(0px);
    transition: 350ms;
    z-index: 1;
}

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover{
    background-color:#1a83ff ;

}

.nav-menu-items{
    width: 100%;
}

.navbar-toggle{
    /* background-color: black; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span{
    /* margin-left: 16px; */
}

@media screen and (max-width:750px){
    .Side_Title {
        /* left: 21%; */
        /* left: %; */
    font-size: 1.9rem;
    }

    .menu-bars {
        margin-left: 10px;
        font-size: 1.5rem;
    }
}
