/* @import url('https://fonts.googleapis.com/css2family=Lato&display=swap'); */

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family:"Lato",sans-serif;
}

.body{
    margin: 0;
    padding: 0;
    /* background: rgb(225,244,243); */
}

.BodyContainer{
    width: 100vw; /* 100% of the viewport width */
    /* height: 100vh; 100% of the viewport height */

}

.main-container {
    /* background-color: lightblue; Optional: Add background color for visibility */
}

.section__padding{
    padding: 4rem 6rem;
}

.flex__center{
    display: flex;
    justify-content: center;
    align-items: center;
}

